@import '../../constant.less';

@title-margin: 16px 0 9px 0;

.title {
  color: @grp-title-main-color;
  margin: @title-margin;
}
.websiteTitle {
  color: @grp-title-site-color;
  margin: @title-margin;
}
