footer
    //-span &copy; 2017 JavaScript.fun
    span
        | Made with &nbsp;
        i.fa.fa-heart(style="color: #ea7a7a")
        | &nbsp;by &nbsp;
        a(href="/about" target="_blank") ZJ Guo
