head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="javascript | fun in javascript"
    link(rel="shortcut icon" type="image/png" href="/fav.ico")
    link(rel='stylesheet' href='/pure-min.css')
    //script(type='text/javascript' src='foundation.min.js')