head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="JavaScript For Fun"
    link(rel="shortcut icon" type="image/png" href="/#{module}/assets/fav.ico")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type='text/javascript' src='/#{module}/bundle.js')