head
    title="javascript | fun in javascript"
    link(rel="shortcut icon" type="image/png" href="/fav.ico")
    link(rel='stylesheet' href='/foundation.min.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" )
    script(type='text/javascript' src='foundation.min.js')