extends layout
block content
    h3 zijian home
    p zijian homezijian homezijian homezijian homezijian homezijian homezijian homezijian home
    button.button save
    form
    .row
        .medium-6.columns
            label
                | Input Label
                input(type='text', placeholder='.medium-6.columns')
        .medium-6.columns
            label
                | Input Label
                input(type='text', placeholder='.medium-6.columns')