extends ../layout
block content
    article
        +ArticleTitle(article)
        case article.id
            when 1
                block 1
            when 2
                block 2
            when 3
                block 3
            when 4
                block 4
            when 5
                block 5
            when 6
                block 6
            default
                p could not find #{article.id}.pug