extends ../layout
block content
    article
        +ArticleTitle(article)
        case article.id
            when 1
                block 1
            when 2
                block 2
            default
                p could not find #{article.id}.jade