extends ../layout
block content
    .post_container
        each val, index in article
            .post
                +ArticleTitle(val)
                p.art_desc=val.content
                if val.url
                    a(href=val.url).pure-button.button-small View All
