extends ../layout
block content
    each val, index in article
        .post
            +ArticleTitle(val)
            p.content=val.content
            if val.url
                a(href=val.url).pure-button.button-small View All
