@import url('https://fonts.googleapis.com/css?family=Cuprum');
h1,h2,h3,h4,h5,p,span,em {
    font-family: 'Cuprum', sans-serif;
}

.sidebar {
    height: 100%;
    background: rgb(61, 79, 93);
    color: #fff;
    border: 1px solid rgb(61, 79, 93);
}