@import url('https://fonts.googleapis.com/css?family=Cuprum');
h1,h2,h3,h4,h5,p,span,em {
    font-family: 'Cuprum', sans-serif;
}

.sidebar {
    height: 100%;
    background: rgb(61, 79, 93);
    color: #fff;
    border: 1px solid rgb(61, 79, 93);
    .title {
        text-align: center;
        font-size: 2.5em;
    }
}

.post{
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 40px;
    .title{
        color: #476277;
        font-size: 2.3em;
    }
    .tag{
        margin: 3px;
        padding: 5px;
        font-size: 0.9em;
        border-radius: 4px;
        color: white;
    }
    .tag_0{
        border: 1px solid #f50;
        background-color: #f50;
    }
    .tag_1{
        border: 1px solid #2db7f5;
        background-color: #2db7f5;
    }
    .tag_2{
        border: 1px solid #87d068;
        background-color: #87d068;
    }
    .tag_3{
        border: 1px solid #108ee9;
        background-color: #108ee9;
    }
    .tag_4{
        border: 1px solid #3FC1C9;
        background-color: #3FC1C9;
    }
}