@import '../../../../../constant.less';

.footer {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  span {
    color: @footer-color;
    a {
      color: #4185f4;
      text-decoration: none;
      font-size: inherit;
    }
  }
}
