main {
    padding: 0 20px 40px 20px;
    .grpTitle{
        color: #7c94a7;
        margin: 16px 0;
    }
}
.box{
    //border: 1px solid red;
    h3{
        color: #7c94a7;
        margin: 0;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .box{

    }
}