main {
    padding: 0 20px 40px 23px;
    .grpTitle {
        color: #EB586F;
        margin: 16px 0;
    }
}

.box {
    border-bottom: 1px dashed #ccc;
    height: 60px;
    padding: 4px 0 0 5px;
    a {
        color: #4AA0D5;
        display: block;
        margin: 5px 0;
        text-decoration: none;
        transition: color 0.4s;
        &:hover{
            color: #EB586F;
        }
    }

    p {
        margin: 0;
        font-size: 13px;
        color: #454553;
    }
}

@media (max-width: 768px) {
    .box {
        height: 69px;
    }
}