head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="JavaScript For Fun"
    link(rel="shortcut icon" type="image/png" href="/assets/fav.ico")
    script(type='text/javascript' src='/main/bundle.js')