@import url('https://fonts.googleapis.com/css?family=Cuprum');
h1,h2,h3,h4,h5,p,span,em,a {
    font-family: 'Cuprum', sans-serif;
}

.sidebar {
    background: #3d4f5d;
    .header {
        //border: 1px solid yellow;
        position: fixed;
        width: 25%;
        top: 15%;
        text-align: center;
        h1 {
            color: #fff;
            font-size: 2.5em;
            #funTxt {
                transition: color 0.4s;
            }
        }
    }
}

.content{
}

footer{
    padding: 10px;
    background-color: #e8e8e8;
    text-align: center;
    a,span {
        padding-right: 30px;
        text-decoration: none;
        color: #b3b3b3;
        margin: 0;
    }
}



@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 150px;
        .header {
            top: 0;
            width: 100%;
            position: relative;
        }
    }
    .content{
        width: 100%;
    }
}