@import '../../../../../constant.less';

.commentBox {
  padding: 5px @main-left-padding;
}

.btnWrapper {
  text-align: center;
}

.commentToggleBtn {
  width: 265px;
}

@media (max-width: 768px) {
  .commentBox {
    padding: 5px @main-left-padding-mobile;
  }
}
