article{
    margin-top: 40px;
    padding: 10px 30px 40px 30px;
    img.atcImg {
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    article{
        margin-top: 40px;
        padding: 10px 18px 40px 18px;
    }
    img.atcImg {
        height: auto;
        width: 100%;
    }
}