
.post{
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 40px;
    .title{
        color: #476277;
        font-size: 40px;
        margin: 10px 0;
    }
    .time{
        color: #757575;
        margin: 3px 0;
    }
    .content{
        color: #8666b5;
        font-size: 20px;
    }

    .tag{
        display: inline-block;
        padding: 5px;
        font-size: 13px;
        border-radius: 2px;
        color: white;
    }
    .tag_0{
        background-color: #e85a71;
    }
    .tag_1{
        background-color: #4ea1d3;
    }
    .tag_2{
        background-color: #3FBAC2;
    }
    .tag_3{
        background-color: #415F9D;
    }
    .tag_4{
        background-color: #CB8589;
    }
}