main {
    padding: 0 20px 40px 20px;
    //background-color: white;
    .grpTitle {
        color: #7c94a7;
        margin: 16px 0;
        i {
            margin-right: 6px;
        }
    }
}
.box {
    border-top: 1px solid #dedede;
    padding: 5px 0 5px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .boxLeft{
        margin-right: 14px;
        img {
            height: 48px;
            border-radius: 5px;
        }
        i {
            font-size: 48px;
            color: #b167a0;
        }
    }
    .boxRight{
        //border: 1px solid #3d4f5d;
        h5 {
            margin: 0 0 7px 0;
            color: #6d6d6d;
            font-size: 18px;
            cursor: default;
        }
        div {
            margin: 0;
            color: #6b6b6b;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #546e98;
            }
            img {
                height: 18px;
                margin-right: 4px;
                margin-bottom: -2px;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        overflow-x: hidden;
    }
    .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .box .boxRight h5 {
        margin: 0 0 5px 0;
        color: #6d6d6d;
        font-size: 14px;
    }
    .box .boxRight div {
        font-size: 12px;
    }
}