@side-bar-bg-color: #3d4f5d;
@side-bar-typed-font-size: 1.4em;
@side-bar-typed-font-size-mobile: 1.3em;

@grp-title-main-color: #7c94a7;
@grp-title-site-color: #eb586f;
@grp-border-color: #dddddd;

@update-date-color: #b9b9b9;
@star-text-color: #546e98;
@git-name-color: #6d6d6d;
@site-name-color: #4aa0d5;
@site-name-color-hover: #eb586f;
